.grid{
    border: solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align:center;
    align-items: center;
}

.grid img{
    border: 10px solid;
}

b{
    display:flex;
    text-align:center;
    justify-content: center;
    background-color:red;
}

head{
    border: red solid;
}

.dragon{
    border: solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align:center;
    align-items: center;
}

.dragon img{
    border: 10px solid;
}

.lucifer{
    border: solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align:center;
    align-items: center;
}


.lucifer img{
    border: 10px solid;
}


br{
    border:solid;
    padding-block: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    border:solid;
    padding-block: 20px;
    font-weight:900;
    padding-inline: 20px;
    margin-inline: 15px;
    margin-top: 20px;
}
